span.select4 {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  color: black;
  outline: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; 
  font-size: 15px;
  font-weight: 300;
  padding: 10px 16px 10px 16px;
  margin-bottom: 5px;
  line-height: 1em;
  position: relative;
  width: 100%;
  background: white;
  border: 1px solid #dedede;
  transition: background .2s ease-in, color .2s ease-in, border .2s ease-in;
}
span.select4:focus {
  background: white;
  border: 1px solid #dedede;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
}
span.select4.open:focus {
  box-shadow: none;
}
span.select4 > span {
  font-weight: 300;
}
span.select4 > span.placeholder {
  color: #D8D8D8;
}
span.select4::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 17px;
  width: 6px;
  height: 1px;
  background: #1D92D6;
  transform: rotate(45deg);
}
span.select4::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 13px;
  width: 6px;
  height: 1px;
  background: #1D92D6;
  transform: rotate(-45deg);
}
span.select4 > ul {
  display: none;
  z-index: 998;
  position: absolute;
  overflow: scroll;
  top: -1px;
  left: -1px;
  width: 100%;
  min-height: 32px;
  max-height: 400px;
  color: black;
  padding: 0;
  box-sizing: content-box;
  background: white;
  border: 1px solid #dedede;
  transition: background .2s ease-in, color .2s ease-in, border .2s ease-in;
}
span.select4.over > ul {
  top: auto;
  bottom: 100%; 
}
span.select4:focus > ul {
  background: white;
  border: 1px solid #dedede;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
}
span.select4 > ul > li {
  padding: 10px 16px;
  font-weight: 300;
  color: black;
  border-bottom: 1px solid #dedede;
}
span.select4 > ul > li:last-child {
  border-bottom: none;
}
span.select4 > ul > li.selected {
  font-weight: 300;
  background: #E8E8E8;
  color: black;
}
span.select4 > ul > li.focus {
  font-weight: 300;
  color: black;
  background: #1D92D6;
  color: white;
}
